/* slider genişliği */
::-webkit-scrollbar {
    opacity: 0.9;
    width: 7px;
  }
  
  /* slider döşemesi */
::-webkit-scrollbar-track {
    opacity: 0.5;
    background: #f1f1f1; 
  }
   
  /* slider tutacağı */
::-webkit-scrollbar-thumb {
    opacity: 0.9;
    background: #888; 
  }
  
  /* slider tutacağının hoverı */
::-webkit-scrollbar-thumb:hover {
    opacity: 0.9;
    background: #555; 
  }

body {
    background: url('/images/background_2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

p {
    color: #1A4294;
    
}

p1 {
    color: #7e7e7e;
    
}

h1 {
    color: #1A4294;
    
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    letter-spacing: 0px;

}

h3 {
    color: #370757;

}

img.shbitt_logo {
    height: 65%;
    width: 65%;
    margin: 0px;
  }

.card-deck {
    margin: 10px;
    padding: 0px;
    
     
      
}
    





.btn-sari{background-color:rgb(218, 159, 32);color: #FFF;}
.btn-sari:hover{background-color: rgb(238, 171, 27);color: #FFF;}

.btn-mor{background-color:rgb(129, 0, 180);color: #FFF;}
.btn-mor:hover{background-color: rgb(151, 0, 211);color: #FFF;}


.fa {
    padding: 15px;
    font-size: 20px;
    width:  50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
    border-radius: 50%;
    background: #370757;
    color: white;
  }
  
.fa:hover {
      opacity: 0.9;
      text-decoration: none;
      background: #370757;
      color: white;
      
  }
  
